
.background-container {
  background-size: cover;
  background-position: center;
}

.word-of-god {
  padding: 50px 20px;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 32px;
}

.verse {font-weight: 100;}
