@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Dosis:wght@200;500;800&display=swap');
@import '_base.css';
@import '_vars.css';
@import 'fadeIn.css';
@import 'fadeInLeft.css';
@import 'fadeInRight.css';

.animated {
    animation-duration: 0.3s;
}

html, body, #__next, #__next > .container-fluid, main, .page {
    height: 100%;
    font-family: 'Dosis', sans-serif;
}
